html {
    font-size: 62.5%;
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    height: 100%;
}

/* 
 *******************************
 HEADER 
 *******************************
 */
.b-header_main {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0);
    z-index: 2;
    font-size: 2.4rem;
    color: #fff;
}

@media (min-width: 60rem) {
    .b-header_main {
        /*height: 10rem;*/
    }
}
.logo {
    width: 10rem;
    height: auto;
}
.b-div_main {
    position: relative;
    width: 50%;
}

.b-header__h2_break {
    word-break: break-all;
}

/* 
 *******************************
 BOT SECTION 
 *******************************
 */

.b-section_bot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    /*top: 0;*/
    width 100%;
    height: auto;
    background-image: url("../images/m-backgroundImage@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
}

.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    width: 100%;
    height: auto;
    margin: 40rem 0 40rem 0;
    background: rgba(255, 255, 255, 0.5);
}

.b-div_left {
    width: 50%;
    height: auto;
    text-align: left;
    color: #ec2049;
    margin-left: 4.5rem;
}

.b-div_right {
    align-self: flex-end;
    width: 50%;
    height: auto;
    text-align: right;
    color: #324150;
    margin-right: 4.5rem;
}

.b-div__textarea {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
}

textarea {
    width: 90%;
    height: 70%;
    margin: 5%;
    font-size: 3rem;
}
.b-div__btn_pos {
    position: absolute;
    align-self: flex-end;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: auto;
    height: auto;
    right: 6rem;
    padding: 0;
}

.b-div__btn_pos img {
    width: 6rem;
    height: auto;
}
/* 
 *******************************
 LAST MINUTE GETAWAYS SECTION 
 *******************************
 */

.b-section__header_banner {
    position: relative;
    left: 0;
}

.banner__h1 {
    position: relative;
    margin: 0 0 0 2rem;
    font-size: 4rem;
    bottom: 7rem;
    color: #fff;
}

.banner__img {
    position: relative;
    width: 90vw;
    top: 2rem;
}
.b-div__btn {
    position: relative;
    bottom: 1rem;
}

.b-div__btn_colour {
    width: 33%;
    height: 12vw;
    font-size: 5rem;
    /*background: rgba(93, 127, 151, 0.8)*/;
    background-color: #5d7f97;
    color: #fff;
}

/* 
 *******************************
 SEARCH RESULTS AREA 
 *******************************
 */
.b-section_s-results {
    background-color: #bfbfbf;
}

table {
    width: 100%;
    font-size: 3rem;
}

tr {
    width: 100%;
    height: 4rem;
    padding: 1rem;
}

tb {
    padding: 1rem;
}

.td-txtcolour {
    color: #fff;
}

.td-colour {
    background-color: #fff;
}